# Editor directories and files
.idea
blog/__pycache__
#db.sqlite3
venv/

#Backend gitignore
uploads/
backend/migrations

#Frontend gitignore
frontend/test/
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/selenium-debug.log
frontend/test/unit/coverage/
frontend/test/e2e/reports/

